<br><br><br>

	<div class="col-lg-3 col-md-12">
		<div class="col-lg-12">
		<h1 class="h1-strong">Hola, {{identity.name}}</h1>

		</div>

		<div id="user-card" class="col-lg-12 panel panel-default">
			<div class="row">
				<div class="col-lg-12">
					<div class="avatar pull-left">
						<img src="{{url +'get-image-user/'+ identity.image }}"  *ngIf= "identity.image"/>
						<img src="assets/user.png"  *ngIf= "!identity.image"/>
					</div>	
					<div class="name-surname pull-left">
						<a href="#" class="username">
							{{identity.name + ' ' + identity.surname}}
						</a>
						<p class="nickname">{{identity.nick}}</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="following-data">
						<a href="#" 
>
							<span class="label-stats">
								Siguiendo
							</span>
							<span class="number-stats">
								{{stats.following}}
							</span>
						</a>
					</div>
					<div class="following-data">
						<a href="#">
							<span class="label-stats">
								Seguidores
							</span>
							<span class="number-stats">
								{{stats.followed}}
							</span>
						</a>
					</div>
					<div class="following-data">
						<a href="#">
							<span class="label-stats">
								Publicaciones
							</span>
							<span class="number-stats">
								{{stats.publications}}
							</span>
						</a>
					</div>
				</div>
			</div>
			<!-- <div class="clearfix"></div> -->
		</div>




	<!-- formulario de publicaciones -->
<div id="new-publication" class="col-lg-12 pull-left panel panel-dafault borde sidebar-32">
	<div class="alert alert-success" *ngIf = "status == 'success'">
		Publicacion enviada correctamente
	</div>
	<div class="alert alert-danger" *ngIf = "status == 'error'">
		Publicacion no enviada correctamente
	</div>
	<form #newPubForm = "ngForm" (ngSubmit)="onSubmit(newPubForm)" class="col-lg-10">
		<p>
			<label>¿que estas pensando hoy?</label>
			<textarea name="text" #text = "ngModel" [(ngModel)]="publication.text" class="form-control" required> </textarea>
			<span *ngIf= "!text.valid && text.touched">El texto es obligatorio</span>
		</p>
		<p>
			<label>Sube tu foto</label>
			<input type="file" name="image" placeholder="Subir imagen">
		</p>
		<input type="submit" value="Enviar" class="btn btn-success" [disabled]="!newPubForm.form.valid">
		
	</form>
</div>
	</div>